


.title {
    font-family: "Moul", sans-serif; 
    font-size: 48px;
    color: #405500;
    font-weight: bold; 
    line-height: 1.3;
    margin-bottom: 20px;
}

.upperGrid{
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 50px;

}
.upperGridTitle{
    padding-left: 50px;
    
}

.upperGridImage{
    width: 80%;
  height: auto; /* keeps aspect ratio */  
}

.callNowForm{
display: flex;
  flex-direction: column;  
  gap: 16px;               
  max-width: 100%;
  height: 60%;
  padding-right: 100px;
   
  
}

.lowerGrid{
   padding-bottom: 60px;
   padding-right: 50px;
   padding-left: 50px;

}

.lowerGridImage{
    height: auto;
    width: 100%;
    
}

.enrollmentTitle{
    padding-left: 100px;
    display: flex;
    flex-direction: column; 
    height: 100%; 
}

.enrollmentDetails{
   padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    color: #333;
    font-size: 16px;
    display: flex;
    flex-direction: column; 
    height: 100%; 

}


